[submodule "libopencm3"]
	path = libopencm3
    url = https://github.com/nuft/libopencm3.git
[submodule "dependencies/crc"]
	path = dependencies/crc
	url = https://github.com/cvra/CRC.git
[submodule "dependencies/test-runner"]
	path = dependencies/test-runner
	url = https://github.com/cvra/test-runner.git
[submodule "dependencies/cmp"]
	path = dependencies/cmp
	url = https://github.com/cvra/cmp
[submodule "dependencies/cmp_mem_access"]
	path = dependencies/cmp_mem_access
	url = https://github.com/cvra/cmp_mem_access.git
